body {
    background-color: rgb(204, 201, 201);
     
}

.container {
    margin: auto;
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
}

.imagebox {
    width: 80%;
    height: 300px;
    margin-top: 20px;
    margin-left: 10px;
}

.imagebox input[type="radio"] {
    width: 100px;
    height: 100px;
    display: inline-block;
    margin-left: 10px;
    border: 2px solid black;
    outline: none;
    appearance: none;
    cursor: pointer;
    box-shadow: 0 0 2px black;
    -webkit-transition: all 0.8s ease-in-out;
    -moz-transition: all 0.8s ease-in-out;
    -ms-transition: all 0.8s ease-in-out;
    -o-transition: all 0.8s ease-in-out;
    transition: all 0.8s ease-in-out;
}

.imagebox input[type="radio"]:hover {
    transform: scale(1.1);
    box-shadow: 0 0 5px black;

}

#img1 {
    background-image: url(img1.png);
    background-size: cover;
}

#img2 {
    background-image: url(img2.jpg);
    background-size: cover;
}

#img3 {
    background-image: url(img3.jpg);
    background-size: cover;
}

#img4 {
    background-image: url(img4.jpg);
    background-size: cover;
}

#img5 {
    background-image: url(img5.jpg);
    background-size: cover;
}

.imagebg {
    width: 600px;
    height: 100%;
    margin-top: 7%;
    margin-left: 22%;
    border: 4px solid rgb(2, 8, 92);
    box-shadow: 0 0 5px rgb(51, 1, 1);
}

#img1:checked~.imagebg {
    background-image: url(img1.png);
    background-size: cover;

}

#img2:checked~.imagebg {
    background-image: url(img2.jpg);
    background-size: cover;

}

#img3:checked~.imagebg {
    background-image: url(img3.jpg);
    background-size: cover;

}

#img4:checked~.imagebg {
    background-image: url(img4.jpg);
    background-size: cover;

}

#img5:checked~.imagebg {
    background-image: url(img5.jpg);
    background-size: cover;

}